* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
	height: 100%;
}

.wf-loading {
	opacity: 0;
}

section {
	@extend .clearfix;
	&.white {
		@include section-setup();
	}
}

#thankyou {
	position: absolute;
	top: $nav-height;
	width: 100%;
	background: $frisson-green;
	color: #fff;
	left: 0;
	line-height: 50px;
	z-index: 100;
	text-align: center;
	visibility: hidden;

	&.show {
		visibility: visible;
	    animation-name: showThankYou;
	    animation-duration: 10s;
	    animation-fill-mode: forwards;
	}
}

@keyframes showThankYou {
    0% {opacity: 0;}
    20% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

