#who {
	padding: 12% 0;
	text-align: center;

	@media (min-width: $screen-sm-min) {
		// min-height: 100%;
	}

	.intro {
		margin: 0 auto;

		width: 100%;
		@media (min-width: $screen-sm-min) {
			width: 60%;	
		}
	}

	.services {
		margin-top: 100px; 

		ul {
		    padding: 0;
		    margin: 20px 0 0 0;
		    list-style: none;

		    li {
				display: inline-block;
				width: 100%;
				padding: 0;
				margin: 0 0 10px 0;
				text-align: left;
				padding: 0 10px;
				font-size: $large-text-size;

				@media (min-width: $screen-sm-min) {
					width: 40%;	

					&:nth-child(odd) {
						text-align: right;
					}
				}
		    }
		}
	}
}

#service {

	overflow: hidden;
	@media (min-width: $screen-sm-min) {
		// height: 100%;
		// min-height: 100%;
	}

	.content {
		background: #000;
		color: #fff;
		position: relative; 

		padding: 50px 20px;
		@media (min-width: $screen-sm-min) {
			padding-left: 10px;
			height: 100%;
		}
		@media (min-width: $screen-md-min) {
			padding: 20% 80px;
			width: 50%;
			&.right {
				margin-left: 50%;
			}
		}
		@media (min-width: $screen-lg-min) {
			padding: 20% 100px;
		}

		h1 {
			margin-top: 0;
		}

		* {
			position: relative;
			z-index: 999;
		}
	}

	background-size: contain;
	background-repeat: no-repeat;
	&.betting {
		background-image: url(../images/betting.jpg);
		background-position: right center;

		.content {
			// background: #F7C162;
			// color: #000;
			@media (min-width: $screen-sm-min) {
				&:after {
				    content: ' ';
				    position: absolute;
				    top: 0;
				    background: #000;
				    left: 100%;
				    height: 110%;
				    width: 100px;
				    transform: rotate(5deg) translateY(-5%) translateX(-65px);
				}
			}
		}
	}

	&.lifestyle {
		background-image: url(../images/lifestyle.jpg);
		background-position: left center;

		.content {
			// background: #c9c9c9;
			// color: #000;
			@media (min-width: $screen-sm-min) {
				&:before {
				    content: ' ';
				    position: absolute;
				    top: 0;
				    background: #000;
				    left: 0%;
				    height: 110%;
				    width: 100px;
				    transform: rotate(5deg) translateY(-5%) translateX(-35px);
				}
			}
		}
	}

	&.fitness {
		background-image: url(../images/fitness.jpg);
		background-position: right center;

		.content {
			// background: #E4A48B;
			// color: #000;
			padding-right: 20px;
			@media (min-width: $screen-sm-min) {
				padding-right: 10px;
			}
			@media (min-width: $screen-md-min) {
				padding-right: 60px;
				width: 45%;
			}
			@media (min-width: $screen-lg-min) {
				// padding-right: 100px;
			}
			
			@media (min-width: $screen-sm-min) {
				&:after {
				    content: ' ';
				    position: absolute;
				    top: 0;
				    background: #000;
				    left: 100%;
				    height: 110%;
				    width: 100px;
				    transform: rotate(-5deg) translateY(-5%) translateX(-55px);
				}
			}
		}
	}
}

#contact {
	padding: 20% 0;

	.contact {
		margin: 0 auto;
		width: 100%;
		@media (min-width: $screen-sm-min) {
			width: 60%;	
		}

	}
}









