@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');

body, html {
	font-size: $text-size;
  font-family: 'M PLUS 1p', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 { 
	font-size: 40px;
    @media (min-width: $screen-sm-min) {
		font-size: 75px;
    }
}
h2 { 
	font-size: 30px; 
}
h3 { 
	font-size: 21px; 
}
h4 { 
	font-size: 18px; 
}
h5 { 
	font-size: 14px; 
}
h6 { 
	font-size: 12px; 
}

small {
  font-size: 50%;
}

h3 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 40px;
}

p {
  margin: 0 0 10px;
}

p.lead {
	// font-size: $large-text-size;
}
