// Colours
$frisson-black: #202020;
$frisson-green: #005d38;

// Typography
$text-color: $frisson-black;
$text-size: 14px;

// Elemets
$nav-height: 75px;
$section-padding: 70px 0;

// Breaks points and Grid
$screen-sm-min: 768px;
$screen-md-min: 922px;
$screen-lg-min:	1200px;

$desktop-columns: 12;
$desktop-gutter-width: 20px;
$desktop-container-width: 1120px + $desktop-gutter-width;

$laptop-columns: 12;
$laptop-gutter-width: 20px;
$laptop-container-width: 860px + $laptop-gutter-width;

$tablet-columns: 12;
$tablet-gutter-width: 20px;
$tablet-container-width: 700px + $tablet-gutter-width;

$phone-columns: 12;
$phone-gutter-width: 20px;
$phone-container-width: 100%;

$transitionIn: all 150ms cubic-bezier(0.0, 0.0, 0.2, 1);
$transitionOut: all 150ms cubic-bezier(0.4, 0.0, 0.6, 1);